.goalsList {
  &__BG {
    background-color: #eeeeee;
    height: 90vh;
    overflow-y: auto;
  }

  &__UL {
    overflow-y: auto;
  }

  &__item {
    position: relative;
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;

    &__hoverText {
      position: absolute;
      top: 5px;
      right: 10px;
      margin: 0;
    }

    &__date {
      margin-top: 0px;
      margin-bottom: 5px;
    }
  }
}
